html,
body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --node-bg-light: #fff;
  --node-bg-dark: #23272f;
  --node-border-light: #000;
  --node-border-dark: #fff;
}

body[data-theme='dark'] {
  --node-bg: var(--node-bg-dark);
  --node-border: var(--node-border-dark);
}
body:not([data-theme='dark']) {
  --node-bg: var(--node-bg-light);
  --node-border: var(--node-border-light);
}

.node-test {
  border: 1px solid var(--node-border);
  padding: 15px;
  border-radius: 5px;
  background: var(--node-bg);
}

.node-test label {
  display: block;
  font-size: 12px;
}
.node-circle {
  width: 50px;              
  height: 50px;
  border: 1px solid var(--node-border);
  border-radius: 50%;       
  background: var(--node-bg);
  display: flex;            
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;               
}

.node-circle label {
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
}
.node-ellipse {
  width: 80px;               
  height: 50px;
  border: 1px solid var(--node-border);
  border-radius: 50%;        
  background: var(--node-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
}

.node-ellipse label {
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
}
.node-rombo {
  width: 60px;
  height: 60px;
  border: 1px solid var(--node-border);
  background: var(--node-bg);
  transform: rotate(45deg); /* Hace que se vea como rombo */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

/* Contenido rotado de regreso para que se lea normal */
.rhombus-content {
  transform: rotate(-45deg);
  text-align: center;
  font-size: 12px;
  pointer-events: none;
}
